:default
body {
    font-family: Helvetica;
    font-size: 1.4em;
        text-align: center;
}
#black{
    background-color: rgb(68, 68, 68);
    text-align: center;
    color: ffc107;
}
#centre{
    width: 250px;
    height: 400px;
}
#centre1{
    width: 300px;
}

.row {
    left: auto;
    background-color: ffc107;
   }
div.hobbies{float: left;
    margin-right: 50px;
    width: 280px;
    height: 150px;
    background-color: ffc107;}
   
#hobbiesimage{
    float:auto;
}
aside{
    vertical-align: text-top;
    text-align: right;
    width: 400px;
    height: 20px;
    right:auto;
}
#whitehead {
    font-size: 150%; 
    border-bottom: 2px solid maroon; 
    font-weight: normal; 
    padding-bottom: 5px;
      }
div.container {
    float: left;
    margin-right: 50px;
    width: 280px;
    height: 350px;
    background-color: ffc107;
  
  }

  .row{
      Float:left;
      background-color: white;
  }
  .row2{
      right: 5cm;
  }

  img{
      border-radius: 2.5cm;
      background-color: ffc107;
  }
  table.text  {
    width:  300%; 
    border-spacing: 1; 
   }
   table.text td {
    width: 50%;
    vertical-align: top; 
   }
   td.rightcol { 
    text-align: top; 
   }