:default
body {
    font-family: Helvetica;
    font-size: 1.4em;
    text-align: center;
}
#black{
    background-color: rgb(68, 68, 68);
    text-align: center;
    color: ffc107;}
.hardname{
    width: 800px;
}
#sidebig{ height: 700px;}

#centre{
    width: 200px;
    height: 500px;
}
#centre1{
    width: 350px;
}
div.hobbies{float: left;
    margin-right: 50px;
    width: 280px;
    height: 150px;
    background-color: ffc107;}
#hobbiesimage{
    float:auto;
}
.blank{float:left;
    width:200px;
    height:100px;
    border:0px;}
#whitehead {
    font-size: 150%; 
    border-bottom: 2px solid maroon; 
    font-weight: normal; 
    padding-bottom: 5px;
      }
div.container {
    float: left;
    margin-right: 50px;
    width: 280px;
    height: 400px;
    background-color: ffc107;
  }
.row{
      Float:left;
      background-color: white;
  }
img{
      border-radius: 2.5cm;
      background-color: ffc107;
  }
table.text  {
    width:  400%; 
    border-spacing: 1;
    height: 300px;
   }
table.text td {
    width: 50%;
    vertical-align: top; 
   }
td.rightcol { 
    text-align: top; 
    width: 50%;
   }
   <div id="device" style="padding: 0px; word-spacing: normal; position: relative;
    box-sizing: content-box !important; text-align: left;
     user-select: none; overflow: hidden; font-family: sans-serif;
      min-height: 15px; font-size: 14px; line-height: 1em;
       direction: ltr; height: 373.5px;"></div>