body {
    display: grid;
}
#leftside {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: ffc107;
    width: 320px;
    height: 1300px;
    float: left;
}
.middleinfo {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
#head {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    height: auto;
    width: auto;
    margin-right: auto;}
    #photo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: auto;
        height: auto;}
        #name {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;}

            .black{
                background-color: rgb(68, 68, 68);
                text-align: center;
                color: ffc107;}
            
            :default
            #photo {
                max-width: 100%;
                max-height: 100%;
                width: 200;
                height: 200;
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;}

                #freehead{border-bottom:2px solid rgb(255, 224,48);
                    padding-bottom: 2px;
                }
                .whitehead {
                    font-size: 150%; 
                    border-bottom: 2px solid rgb(255, 224, 48); 
                    font-weight: normal; 
                    padding-bottom: 5px;
                }
                td.rightcol { 
                    text-align: top; 
                    width: 50%;
                   }
                table.text td {
                    width: 50%;
                    vertical-align: top; 
                   }
                   #sidebig{ height: 700px;}
#refinfo {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}
#header div img {
    width: 138%;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 70% 70%;
    box-shadow: black 0px 0px 5px;
    height: 106%;
  }
  .fas {color: white;
background-color: ffc107;}
