div.left {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: 5;
    background-color: Aqua;
    width: 200px;
    float: left;
}

div.right {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: 5;
    background-color: Silver;
    margin-left: 220px;
}
