body {
    display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.date {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.meddate {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
footer article br {
  display: block;
}
