body {
    
    display: flex;
    flex-direction: column-reverse;
}
nav {
        min-width: 200px;
        margin-right: 15px;
        max-width: 100%;
}
.container{
    max-width: 100%;
}
#header{
    max-width: 100%;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 