body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(http://www.allwhitebackground.com/images/5/Classic-Retro-Background-Image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.icon {
  background: black;
  display: block;
  position: static;
  right: 0;
  top: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.selectedbutton {
  background-color: green;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selectedbutton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.buttonnav {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #3369ff;
  -webkit-box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
          box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

.buttonnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0.4em auto;
}

.buttonnav a:hover {
  background-color: #eceaea;
}

.buttonnav a:active {
  top: 0;
}

#About {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

#News {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

#Contact {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

#PetBarbershop {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

#OurLocation {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

#maininfo {
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#Frame {
  border-top-left-radius: 10px;
  border-style: groove;
  border-color: white;
  width: 60%;
  height: 60%;
}

.bouncy {
  -webkit-animation: bouncy 5s infinite linear;
          animation: bouncy 5s infinite linear;
  position: relative;
}

@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a a:hover {
  color: #ffffff;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

span {
  font-size: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=NEWP3.css.map */