body {
    display: flex;
    background-image: url(http://www.allwhitebackground.com/images/5/Classic-Retro-Background-Image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: auto;}
.topnav { 
    position: static;
    display: flex;
    flex-direction: row;
    top: 0;
    a {
        color: white;
       float: left;
       padding: 10px 20px;
       text-decoration: none;
       text-align: center;
       font-size: 17px;
    a:hover {
        background-color: white;
        color: black;
     a.active {
        background-color: #4CAF50;
        color: white;
    }}}}
.icon {
        background: black;
        display: block;
        position: static;
        right: 0;
        top: 0;}
.dropdown {
    position: relative;
    display: inline-block;
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      & a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      a:hover {
          background-color: #ddd;
      .dropdown:hover &{
          display:block;
    & .dropbtn {
          background-color: #3e8e41;
  }}}}}}
.buttonnav {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:300;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    a { 
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin:0.4em auto;
    a:hover {
        background-color: rgb(236, 234, 234);
    :active{
        top:0;
}}}}
#About{animation-delay: 0.07s;}
#News{animation-delay: 0.14s;}
#Contact{animation-delay: 0.21s;}
#PetBarbershop{animation-delay: 0.28s;}
#OurLocation{animation-delay: 0.35s;}
#MyProjects{animation-delay: 0.42s;}

#maininfo {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    left:1200px;
} 
#Frame {
    border-top-left-radius: 10px;
    border-style: groove;
    border-color: white;
    width: 500px;
    height: 700px;
}


.selectedbutton {
    background-color: green;
    background: $cd-btn;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    &:hover {
        transform: scale(1.15);
}}
    
    

.bouncy {
        animation:bouncy 5s infinite linear;
        position: relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.carousel-item img {
    max-width: 50%;
    max-height: 50%;
}

