body {
    display: flex;
    flex-direction: column;
}
#navigator {
    display: flex;
    flex-direction: row;
}
.navigationbar {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
 .buttonnav {
    float: left;
  }
  
.buttonnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.buttonnav a:hover {
    background-color: rgb(236, 234, 234);
  }

  #stickybar {
    z-index: 9999;
    top: -9.7em; 
    right: 5em;
    padding: .5em; 
    margin: 0; 
    list-style: none;
    position: fixed; 
    width: 3.5em; 
    color: white;
    background: #333; 
    text-align: center; 
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
}
#stickybar:hover { 
    top: 0
}
#stickybar li {
    margin-bottom: 0.5em;
}


#stickybar a {
    color: white;
}

#stickybar button:hover {
    top: 0
}
