body {
    display: flex;
    flex-direction: column-reverse;
}
nav {
    margin-right: 0;
        min-width: 200px;
        max-width: 100%;
}
.container{
    max-width: 100%;
}
#header{
    max-width: 100%;
    margin-right: 0;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.meddate br {
    display: none;
}

